div{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
    min-height: 60vh;
    text-align: center;
    border-radius: 12px;
}
div h1{
    color: brown;
    padding: 10px;
}
div input#myTemp{
    width: 80%;
    height: 20%;
    font-size: 5em;
    padding: 10px;
}
div label{
    font-size: 1.5em;
    color: darkolivegreen;
}
div button{
    width: 50%;
    height: 8vh;
    background-color: rgb(190, 50, 50);
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    color: white;

}
div h3{
    font-size: 2em;
}